import React, { FC } from 'react';

import './{{pascalCase name}}.css';

export interface {{pascalCase name}}Props {}

const {{pascalCase name}}: FC<{{pascalCase name}}Props> = props => {
  return (
    <div className="{{pascalCase name}}">
      {{pascalCase name}}
    </div>
  );
};

export default {{pascalCase name}};