import React, { FC } from 'react';

import './{{pascalCase name}}.css'

interface Props {}

const {{pascalCase name}}: FC<Props> = props => {
  return (
    <div className="{{pascalCase name}}">
      {{pascalCase name}}
    </div>
  );
};

  export default {{pascalCase name}};